@using Westwind.Globalization.Sample.Properties



<button id="btnAdd" title="@Resources.Add_Title">@Resources.Add</button>

<body data-container="body" data-mage-init='{"loaderAjax": {}, "loader": { "icon": "@*http://magento2.flytheme.net/themes/sm_zumi/pub/static/frontend/Sm/zumi/en_US/images/loader-2.gif*@"}}' class="header-1-style home-1-style footer-1-style layout-full_width  page-products categorypath-about-us category-about-us catalog-category-view page-layout-1column">

    <!-- BEGIN GTAG CART SCRIPT --> <!-- END GTAG CART SCRIPT -->
    <div class="page-wrapper">
        <div class="header-top-wrapper">
            <div class="page-title-wrapper"><h2 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount"><span class="base" data-ui-id="page-title-wrapper">About Us</span></h2> </div>  <div class="breadcrumbs"><div class="container"><ul class="items"> <li class="item home"> <a href="http://magento2.flytheme.net/themes/sm_zumi/argentina/" title="Go to Home Page">Home</a> </li>  <li class="item category112"> <strong>About Us</strong> </li> </ul></div></div>
        </div><main id="maincontent" class="page-main">
            <a id="contentarea" tabindex="-1"></a><div class="columns col1-layout">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="page messages">
                                <div data-placeholder="messages"></div> <div data-bind="scope: 'messages'"><!-- ko if: cookieMessages && cookieMessages.length > 0 --><div role="alert" data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages"><div data-bind="attr: { class: 'message-' + message.type + ' ' + message.type + ' message', 'data-ui-id': 'message-' + message.type }"><div data-bind="html: message.text"></div></div></div><!-- /ko --><!-- ko if: messages().messages && messages().messages.length > 0 --><div role="alert" data-bind="foreach: { data: messages().messages, as: 'message' }" class="messages"><div data-bind="attr: { class: 'message-' + message.type + ' ' + message.type + ' message', 'data-ui-id': 'message-' + message.type }"><div data-bind="html: message.text"></div></div></div><!-- /ko --></div>

                            </div><div class="category-view">
                                <div class="category-cms">
                                    <div class="aboutus-page">


                                        <!--Row 1:What We Do-->
                                        <div class="row row-1">

                                            <h3 class="title text-center">What We Do</h3>
                                            <p class="sub-title text-center">The first of the month is coming, we have to get money, we have no choice</p>

                                            <div class="col-lg-4 col-md-4 col-xs12 col-sm-6">
                                                <div class="wrap-about-item">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-xs-12">
                                                            <img src="~/Content/pub/media/wysiwyg/pages/about-img-item-1.png" alt="about-item" />
                                                        </div>
                                                        <div class="col-lg-9 col-xs-12">
                                                            <h4 class="title-about-item">
                                                                Digital Marketing
                                                            </h4>
                                                            <p class="content-about-item">
                                                                It&rsquo;s important to use cocoa butter. It&rsquo;s the key to more success, why not live smooth? Why live rough? Another one. Give thanks to the most high got life, we breathing...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-xs12 col-sm-6">
                                                <div class="wrap-about-item">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-xs-12">
                                                            <img src="~/Content/pub/media/wysiwyg/pages/about-img-item-2.png" alt="about-item" />
                                                        </div>
                                                        <div class="col-lg-9 col-xs-12">
                                                            <h4 class="title-about-item">
                                                                Creative Design
                                                            </h4>
                                                            <p class="content-about-item">
                                                                It&rsquo;s important to use cocoa butter. It&rsquo;s the key to more success, why not live smooth? Why live rough? Another one. Give thanks to the most high got life, we breathing...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-xs12 col-sm-6">
                                                <div class="wrap-about-item">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-xs-12">

                                                            <img src="~/Content/pub/media/wysiwyg/pages/about-img-item-3.png" alt="about-item" />
                                                        </div>
                                                        <div class="col-lg-9 col-xs-12">
                                                            <h4 class="title-about-item">
                                                                Strategic Planing
                                                            </h4>
                                                            <p class="content-about-item">
                                                                It&rsquo;s important to use cocoa butter. It&rsquo;s the key to more success, why not live smooth? Why live rough? Another one. Give thanks to the most high got life, we breathing...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-xs12 col-sm-6">
                                                <div class="wrap-about-item">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-xs-12">
                                                            <img src="~/Content/pub/media/wysiwyg/pages/about-img-item-4.png" alt="about-item" />
                                                        </div>
                                                        <div class="col-lg-9 col-xs-12">
                                                            <h4 class="title-about-item">
                                                                Optimazine SEO
                                                            </h4>
                                                            <p class="content-about-item">
                                                                It&rsquo;s important to use cocoa butter. It&rsquo;s the key to more success, why not live smooth? Why live rough? Another one. Give thanks to the most high got life, we breathing...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-xs12 col-sm-6">
                                                <div class="wrap-about-item">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-xs-12">
                                                            <img src="~/Content/pub/media/wysiwyg/pages/about-img-item-5.png" alt="about-item" title="about-item" />
                                                        </div>
                                                        <div class="col-lg-9 col-xs-12">
                                                            <h4 class="title-about-item">
                                                                Brand Indentity
                                                            </h4>
                                                            <p class="content-about-item">
                                                                It&rsquo;s important to use cocoa butter. It&rsquo;s the key to more success, why not live smooth? Why live rough? Another one. Give thanks to the most high got life, we breathing...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-xs12 col-sm-6">
                                                <div class="wrap-about-item">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-xs-12">
                                                            <img src="~/Content/pub/media/wysiwyg/pages/about-img-item-6.png" alt="about-item" />
                                                        </div>
                                                        <div class="col-lg-9 col-xs-12">
                                                            <h4 class="title-about-item">
                                                                Website Development
                                                            </h4>
                                                            <p class="content-about-item">
                                                                It&rsquo;s important to use cocoa butter. It&rsquo;s the key to more success, why not live smooth? Why live rough? Another one. Give thanks to the most high got life, we breathing...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <!--Row 5: Brand-->
                                        <div class="row row-5">
                                            <h3 class="title text-center">Brands</h3>
                                            <div class="col-lg-2 col-xs-12 col-sm-4">
                                                <a href="#" title="brand">
                                                    <img title="logo brand" alt="logo-brand" src="~/Content/pub/media/wysiwyg/brand/about-brand-1.png" />
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-sm-4">
                                                <a href="#" title="brand">
                                                    <img title="logo brand" alt="logo-brand" src="~/Content/pub/media/wysiwyg/brand/about-brand-2.png" />
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-xs-12 col-sm-4">
                                                <a href="#" title="brand">
                                                    <img title="logo brand" alt="logo-brand" src="~/Content/pub/media/wysiwyg/brand/about-brand-3.png" />
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-sm-4">
                                                <a href="#" title="brand">
                                                    <img title="logo brand" alt="logo-brand" src="~/Content/pub/media/wysiwyg/brand/about-brand-4.png" />
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-xs-12 col-sm-4">
                                                <a href="#" title="brand">
                                                    <img title="logo brand" alt="logo-brand" src="~/Content/pub/media/wysiwyg/brand/about-brand-5.png" />
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-sm-4">
                                                <a href="#" title="brand">
                                                    <img title="logo brand" alt="logo-brand" src="~/Content/pub/media/wysiwyg/brand/about-brand-6.png" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="column main">
                                <input name="form_key" type="hidden" value="2X8ZrwAUSm0zmhri" />
                                <div id="authenticationPopup" data-bind="scope:'authenticationPopup'" style="display: none;">

                                </div>

                                <script data-role="msrp-popup-template" type="text/x-magento-template">
                                    <div id="map-popup-click-for-price" class="map-popup">
                                        <div class="popup-header">
                                            <strong class="title" id="map-popup-heading-price"></strong>
                                        </div>
                                        <div class="popup-content">
                                            <div class="map-info-price" id="map-popup-content">
                                                <div class="price-box">
                                                    <div class="map-msrp" id="map-popup-msrp-box">
                                                        <span class="label">Price</span>
                                                        <span class="old-price map-old-price" id="map-popup-msrp">
                                                            <span class="price"></span>
                                                        </span>
                                                    </div>
                                                    <div class="map-price" id="map-popup-price-box">
                                                        <span class="label">Actual Price</span>
                                                        <span id="map-popup-price" class="actual-price"></span>
                                                    </div>
                                                </div>
                                                <form action="" method="POST" class="map-form-addtocart">
                                                    <input type="hidden" name="product" class="product_id" value="" />
                                                    <button type="button"
                                                            title="Add to Cart"
                                                            class="action tocart primary">
                                                        <span>Add to Cart</span>
                                                    </button>
                                                    <div class="additional-addtocart-box">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="map-text" id="map-popup-text">
                                                Our price is lower than the manufacturer&#039;s &quot;minimum advertised price.&quot; As a result, we cannot show you the price in catalog or the product page. <br><br> You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.
                                            </div>
                                        </div>
                                    </div>
                                </script>
                                <script data-role="msrp-info-template" type="text/x-magento-template">
                                    <div id="map-popup-what-this" class="map-popup">
                                        <div class="popup-header">
                                            <strong class="title" id="map-popup-heading-what-this"></strong>
                                        </div>
                                        <div class="popup-content">
                                            <div class="map-help-text" id="map-popup-text-what-this">
                                                Our price is lower than the manufacturer&#039;s &quot;minimum advertised price.&quot; As a result, we cannot show you the price in catalog or the product page. <br><br> You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.
                                            </div>
                                        </div>
                                    </div>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>



        <div id="smcqp-container" style="display:none;">
            <div data-role="loader" class="loading-mask">
                <div class="loader">
                    <img src="~/Content/pub/static/frontend/Sm/zumi/en_US/images/loader-1.gif" alt="Loading..." />
                    <img src="~/Content/pub/static/frontend/Sm/zumi/en_US/images/loader-1.gif" alt="Loading..." />
                </div>
            </div>
            <div id="smcqp-contents"></div>
            <div id="smcqp-report" style="display:none;">
                <div class="smcqp-messages"></div>
                <div class="smcqp-actions">
                    <a class="smcqp-continue spcqp-count" data-count="5" href="#" title="Continue">Continue</a>
                    <a class="smcqp-btn smcqp-view-cart " href="@Url.Action("Cart","Checkout")" title="View Cart">View Cart</a>
                    <a class="smcqp-btn smcqp-view-compare " href="@Url.Action("ProductCompare","Products")" title="Compare Products">Compare Products</a>
                    <a class="smcqp-btn smcqp-view-wishlist " href="@Url.Action("Wishlist","Home")" title="My Wishlist">My Wishlist</a>
                </div>
            </div>
        </div>
        <div data-role="loader" class="loading-mask-shopby" style="display:none">
            <div class="loader">
                <img src="~/Content/pub/static/frontend/Sm/zumi/en_US/images/loader-1.gif" alt="Loading..." />
            </div>
        </div> <!-- BEGIN GTAG CATEGORY TAG --> <!-- END GTAG CATEGORY TAG -->
    </div>
</body>
